:root {
	--row-highlight-color: #ccbb00;
	--row-highlight-outline: solid 1px #000;
	--row-highlight-filter: brightness(95%);
	--is-vital-color: #ebe;
	--is-daemon-color: #dfdfdf;
	--is-system-color: #77ccff;
	--by-root-color: #5dc;
	--by-user-color: #ea8;
	--column-padding: 3px 7px;
	--default-border-radius: 5px;
	--red-color-1: #c00;
}

::selection {
	color: #000;
	background-color: #ff0;
}

* {
	box-sizing: border-box;
	font-size: 13px;
	font-family: "Calibri", sans-serif;
}

.is_vital {
	background-color: var(--is-vital-color);
}

.is_daemon {
	background-color: var(--is-daemon-color);
}

.is_system {
	background-color: var(--is-system-color);
}

.is_ordinary {
	background-color: #fff;
}

.highlight {
	display: inline-block;
	padding: 5px 0px;
	color: #000;
	background-color: #ff0;
}

.highlight::selection {
	color: #f00;
}

html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

#legenda {
	position: sticky;
	height: auto;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	margin-bottom: 10px;
	padding: 5px;
	z-index: 99999;
}

#legenda span {
	display: inline-block;
	width: 10%;
	height: 20px;
	text-align: center;
	line-height: 20px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#scrolltop,
#scrolldown {
	display: inline-block;
	position: fixed;
	right: 5%;
	padding: 8px 10px;
	background-color: var(--red-color-1);
	color: #fff;
	cursor: pointer;
	font-size: 16px;
}

#scrolltop {
	bottom: 80px;
}

#scrolldown {
	bottom: 30px;
}

a {
	text-decoration: none;
}

input,
a,
#btn-mode {
	cursor: pointer;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	border: solid 1px #999;
	display: inline-block;
	vertical-align: middle;
}

input:not([type="checkbox"]),
a {
	display: inline-block;
	appearance: none;
	border: solid 1px #ccc;
	padding: 4px 8px;
	outline: none !important;
}

input[type="submit"],
a {
	background-color: #efefef;
	color: #000;
}

input[name="search-process"] {
	padding: 8px;
	font-size: 14px;
	width: 60%;
	margin: 30px auto 0;
	display: block;
}

table {
	width: 100%;
}

table thead {
	background-color: var(--red-color-1);
	color: #fff;
	z-index: 99999;
}

table tr {
	margin: 2px 0;
}

table tbody tr:hover,
table tbody tr.selected {
	outline: var(--row-highlight-outline);
	filter: var(--row-highlight-filter);
}

table tr td {
	width: 10%;
	padding: var(--column-padding);
}

table tr.by_root td:first-child {
	font-weight: bold;
}

table tr td input {
	display: inline-block;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	width: 30px;
	background-position: center center;
	background-size: 40%;
	background-repeat: no-repeat;
}

table tr td input.restart-btn {				
	background-image: url("../img/reload.png");
}

table tr td input.kill-btn {				
	background-image: url("../img/kill.png");
}

table tr td input.kill-btn:hover {
	background-color: #c00;
	color: #fff;
}

table tr td input.restart-btn:hover {
	background-color: #f90;
	color: #fff;

}
