#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ProcExp
Comment=Web-based process explorer
TryExec=/opt/procexp/start.sh
Exec=/opt/procexp/start.sh
Icon=/opt/procexp/img/icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;Monitor;
NotShowIn=KDE;
Keywords=Monitor;System;Process;Explorer;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
StartupWMClass=ProcExp
